<!doctype html>
<html lang='en'>
<head>
	<title>Simple Game - Rock, Paper, Scissors - Project 1</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='style.css'>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
	<script src='script.js' defer></script>
</head>
<body>
	<div id='app' v-cloak>
		<input type='radio' id='rock' value='rock' v-model='playerChoice'>
		<label for='rock'>Rock</label>
				
		<input type='radio' id='paper' value='paper' v-model='playerChoice'>
		<label for='paper'>Paper</label>
				
		<input type='radio' id='scissors' value='scissors' v-model='playerChoice'>
		<label for='scissors'>Scissors</label>
		
		
		<br />
		
		{{ playerChoice }}
		
		<button @click='playGame'>Play</button>			
		<button @click='resetGame'>Reset</button>			
		
		<div v-if='played' :class="{ error : isError, success : !isError }">
			<p v-if='!isError'>The computer chose : {{ computerChoice }}</p>
			<p v-else=>{{ errorMessage }}</p>
			<p>
				<span id='result'></span>
			</p>        
		</div>
	</div>
</body>
</html>